p,
h2 {
  overflow-wrap: break-word;
}

.container {
  background-color: rgb(160, 195, 229);
  color: red;
}

.barCompleted {
  background-color: rgb(160, 195, 229);
  width: 60%;
}

.label {
  font-size: 20px;
  color: green;
}
